<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="span6">Title</th>
      <th>Host</th>
    </tr>
  </thead>

  <tbody>
<% @workshops.each do |workshop| %>
    <tr>
      <td><%= render :partial => 'thumbnail', :locals => {:workshop => workshop, :linked => true, :right_caption => true} %></td>
      <td><%= link_to workshop.host.name, workshop.host %></td>
    </tr>
<% end %>
  </tbody>
</table>
