<% 
  workshops ||= @workshops
%>
<ul class="media-list">
  <% if session[:sort_order] == 'distance' %>
    <div class="day_chunk">
      <% workshops.each do |workshop| %>
        <%= render 'workshops/show_in_index', :workshop => workshop, :show_date => true %>
      <% end %>
    </div>
    <% unless @other_workshops.blank? %>
      <h3 class="muted chunk_header">
        No upcoming dates
      </h3>
      <div class="day_chunk">
        <% @other_workshops.each do |workshop| %>
          <%= render 'workshops/show_in_index', :workshop => workshop %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <%
      workshops += @other_workshops
      tz = current_user.try(:time_zone) || "America/Los_Angeles"
      w_by_day = workshops.chunk do |w|
        w.try(:ongoing_or_next_rerun).try(:first_meeting).try(:start_time).try(:in_time_zone, tz).try(:beginning_of_day) || :none
      end
    %>
    <% w_by_day.each do |day, workshops_that_day| %>
      <h3 class="muted chunk_header">
        <% if day === :none %>
          No upcoming dates
        <% else %>
          <%= datetime_localized_to_current_user(day, :format => :day_month_date) %>
        <% end %>
      </h3>
      <div class="day_chunk">
        <% workshops_that_day.each do |workshop| %>
          <%= render 'workshops/show_in_index', :workshop => workshop %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</ul>
