<%
  workshop ||= @workshop
  promo_link_id = "pl_#{workshop.uuid}"
 %>
<input type='hidden' id='<%= promo_link_id %>' value="<%= root_url(:only_path => false, :anchor => workshop.to_param) %>" readonly='readonly'></input>
<button class='btn btn-default zero_clip_button' id="<%= workshop.uuid %>" data-clipboard-target='<%= promo_link_id %>'><i class="icon-link"></i></button>
