<%
  workshop ||= @workshop
  linked ||= false
  thumb_size ||= :small
  show_manage_buttons ||= false
  linked_to = (linked === :edit ? edit_workshop_path(workshop) : workshop)
%>
<div class="media">
  <%= link_to image_tag(workshop.img_src(thumb_size), :class => "media-object img-rounded"), linked_to, :class => "pull-left" %>
  <div class="media-body">
    <h4 class="media-heading"><%= annotated_workshop_title(workshop, :linked_to => linked_to) %></h4>
    <% if show_manage_buttons %>
      <%= iconic_link_to 'Edit', edit_workshop_path(workshop), class: 'btn btn-xs btn-default', title: 'edit' %>
      <%= iconic_link_to 'Manage', manage_workshop_path(workshop), class: 'btn btn-xs btn-default', title: 'manage' , icon: 'group' %>    
    <% end %>
  </div>
</div>
