<h1>Edit workshop details</h1>

<div class="span6">
  <%= render 'form', :show_description => true %>
  
  <ul class="nav nav-tabs margin0">
    <button class="btn btn-success pull-right" id="add_rerun_button"><i class="icon icon-plus"></i>Add</button>
    <li class="active"><a href="#future" data-toggle="tab"><span id='future_reruns_count'><%= @future_reruns.count %></span> scheduled</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane active" id="future">
      <% if @future_reruns.count == 0 %>
        No future workshops.
      <% else %>
        <%= render 'reruns/index', :reruns => @future_reruns, :click_to_show => false, :show_icons => true %>
      <% end %>
    </div>
  </div>
</div>
<% ready_script do -%>
  $('.editable[data-name="max_attendees"]').editable();
  $('.editable[data-name="default_venue_uuid"]').editable();
  $('.editable[data-name="price"]').editable({display: editable_currency_display});
<% end -%>
