<%= iconic_link_to 'New External Workshop', new_workshop_path(:external => true), class: 'btn btn-warning pull-right', icon: 'external-link' %>
<h1>Workshops</h1>
<div>
  <% if @workshops.blank? %>
    No workshops.
  <% else %>
    <%= render 'admin_index', :workshops => @workshops, :show_host => true %>
  <% end %>
</div>
