<%= link_to new_workshop_path(:external => true), :class => 'btn btn-warning pull-right' do %>
  <i class="icon-external-link icon-white"></i>
  New External Workshop
<% end %>
<h1>Workshops</h1>
<div>
  <% if @workshops.blank? %>
    No workshops.
  <% else %>
    <%= render 'index', :workshops => @workshops, :show_host => true %>
  <% end %>
</div>
