<div class="page-header">
  <label>Manage all attendees from the series:</label>
  <h2 class="margin0"><%= link_to @workshop.title, my_workshops_path(:anchor => "w_#{@workshop.uuid}") %></h2>
</div>
<div class="col-md-12">
  <ul class="nav nav-tabs margin0">
    <li class="active"><a href="#reruns" data-toggle="tab">Reruns</a></li>
    <li><a href="#attendees" data-toggle="tab">Attendees</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane active" id="reruns">
      <% if @workshop.events.count == 0 %>
        None.
      <% else %>
        <%= render 'reruns/index', :reruns => @workshop.events.ordered_by_first_meeting_start_time.reverse_order, :click_to_show => false, :show_icons => false, :show_manage_buttons => true %>
      <% end %>
    </div>
    <div class="tab-pane" id="attendees">
      <table class="table table-bordered table-striped" id='event_attendees'>
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>

        <tbody>
          <% @attendees.each do |user| -%>
            <%= render 'users/row', :user => user, :apropos => @workshop %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
