<div class="row">
  <%= iconic_link_to 'New Series', new_workshop_path, :icon => 'plus', :title => 'create a new workshop series (not a re-scheduling of one you have hosted before)', :confirm => "Are you sure that you want to create a completely new workshop series?", :class => 'btn btn-default pull-right', :id => 'new_workshop_btn' %>
</div>
<div>
  <% if @workshops.blank? %>
    No workshops.
  <% else %>
    <%= render 'index', :workshops => @workshops %>
  <% end %>
</div>
