<div class="row">
  <div class="span12">
    <h1>New <%= @workshop.external ? 'External Workshop' : 'Workshop' %></h1>
    <%= render 'form' %>
  </div>
</div>

<% ready_script do -%>
  $('#workshop_title').focus();
<% end %>
