<div class="row">
  <div class="col-md-12">
    <h1>New <%= @workshop.external ? 'External Workshop' : 'Workshop' %></h1>
    <%= render 'form', :show_submit_button => true %>
  </div>
</div>

<% ready_script do -%>
  $('#workshop_title').focus();
<% end %>
