
ul.comment_list {
  margin-left: 30px;
	padding-top: 1em;
	padding-bottom: 1em;
}

.all-comments {
	margin-top: 2em;
	padding: 0em 2em 2em 2em;
	border-radius: 5px;
	background: #F2F2F2;
	border: 0.1em solid #D8D8D8;
}

.single-comment {
	border-top: 1px solid #D8D8D8;
	padding-top: 7px;
}

a.reply-comment {
	margin-left: 8px;
}

.form {
	margin-bottom: 1em;
}

.replies {
	margin-bottom:1em;
}

.single-comment-replies {
	list-style-type: none;
}

form.simple_form.comment {
	margin-top: 0.5em;
}

.single-comment .all-text {
	margin-left: 60px;
}

.single-comment .media:first-child {
	margin-top: 0;
	float: left;
}

.single-comment blockquote p:before { 
  content: open-quote;
  font-weight: bold;
  padding: 5px;
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
	line-height: 1.45;
	position: relative;
	color: #383838;
	margin-bottom: 0;
} 

blockquote p:after { 
  content: close-quote;
  font-weight: bold;
  padding: 3px;
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
	line-height: 1.45;
	position: relative;
	color: #383838;
	margin-bottom: 0;
}

.quote {
	margin-top: -10px;
	margin-left: -25px;
	border:none;
}

p.comment-username {
	margin-top: -25px;
	margin-left: 8px;
}
