/* Mostly a bunch of hack to fix conflicts with Bootstrap CSS */
html { height: 100% }
body { height: 100%; margin: 0; padding: 0; }

#map-canvas { 
  height: 310px;
  /*max-width: 460px;*/
  width: 100%;
  display: block;
}

#map-canvas img { 
  max-width: none;
}

#map-canvas label { 
  width: auto; display:inline; 
}
