<div id="register_modal" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="true" role="dialog" aria-hidden="true" >
  <div class="modal-body">
    <center>
      <p>
        <% if @event %>
          You are signing up for <strong><%= @event.title %></strong>
        <% end %>        
      </p>
      <p>
        We need a little information first.<br/>
        It will only take a moment!
      </p>
      <p>
        <a id="fb_sign_in" class="btn-auth btn-facebook large" href="#">Sign up with <b>Facebook</b></a>        
      </p>
      <p>
        Don't use Facebook?  You can <%= link_to 'sign up with email', new_user_registration_path %><br/>
        By signing up, you indicate that you have read and agree to <%= link_to 'the terms of service', tos_path %>
      </p>
    </center>
  </div>
</div>
