<div id="register_modal" class="modal fade" tabindex="-1" data-backdrop="true" data-keyboard="true" role="dialog" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3><span class="event_title"></span></h3>
      </div>
      <div class="modal-body" id='collect_email_address'>
        <p>We won't spam or share your information.</p>
        <div class="margin10">
          <%= simple_form_for(:user, :as => :user, :url => registration_path(:user), html: { class: 'form-horizontal', id: 'attend_by_email_form'}) do |f| %>
            <%= f.input :email %>
            <div class="form-group">
              <div class="controls">
          	    <%= f.submit "Let's do it", :class => "btn btn-success", :onclick => "_gaq.push(['_trackEvent', 'registration', 'new', 'modal',, false]);" %>
              </div>
          	</div>
          <% end %>
        </div>
      </div>
      <div class="modal-body initially_hidden" id='register_new_user'>
        <h4>ooooh a newbie!  Welcome to Villagecraft =)</h4>
        <div class="margin10">
          <%= render :partial => 'devise/registrations/form', :locals => {:resource => User.new, :resource_name => :user} %>
        </div>
      </div>
    </div>
  </div>
</div>
