<h2>Get Started with Villagecraft</h2>

<p><a id="fb_sign_in" class="btn-auth btn-facebook large" href="#", onclick ="_gaq.push(['_trackEvent', 'registration', 'new', 'regular']);">Sign up with <b>Facebook</b></a></p>

<p><strong>or</strong></p>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sign up with your email address</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-12">
          <%= render :partial => 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
