
<h1><%= link_to 'click here', attend_path(@event, :auth_token => @user.authentication_token, :only_path => false) %></h1>
<h3>to confirm your signup!</h3>

<h3>======<%= @event.title %>======</h3>
<p><%= render :partial => 'reruns/times', :locals => {:event => @event, :short_date => true, :no_tz => true} %></p>