<%
  message ||= @message
%>
<%= BlueCloth.new(@message.body, :filter_html).to_html.html_safe %>
<br/>
<br/>
<hr>
<%= link_to 'view as webpage', message, only_path: false %><br/>
To stop receiving Villagecraft newsletter mailings, opt-out <a href="http://villagecraft.org/preferences#other_notifications">here</a>.
