Welcome <%= @user.first_name %>,

<p>
Villagecraft is a community for sharing knowledge and skills with your neighbors. We are working on some simple tools to make this as smooth as possible. You can use the website to find workshops, classes, and other hands-on activities.
</p>

<p>
Want to host an activity? We'll do what we can to help.  Have feedback, ideas, or suggestions? Want to get involved?  Please let us know, we'd love to hear from you.
</p>

<p>
--the Villagecraft team
</p>

<p>
  <%= link_to 'create a password', new_password_path(resource_name, reset: true, only_path: false) %>
</p>

<hr>
