<% notification ||= @notification %>
<ul class="thumbnails">
  <li class="col-md-8">
    <div class="thumbnail right-caption col-md-8">
      <%= render_activity notification.activity, :profile_image_size => :medium, :show_trackable => true %>
    </div>
  </li>
</ul>
