<% 
  user ||= @user
  apropos ||= @apropos
%>
<%= render 'users/thumb', :user => user, :bottom_caption => true, :linked => true, :make_messageable_apropos => apropos %>
<span><%= pluralize(user.workshops.count, "workshop") %></span>

