<%
  user ||= @user
  apropos ||= @apropos
   message = Message.new(:to_user => user, :apropos => apropos)

%>
<tr>
  <td>
    <%=
        contextualized_user_link(user, :linked => true, :make_messageable_apropos => apropos,
                                 :data=>{
                                     :modal_header_content => "#{h(render('messages/new_for_header', :message => message))}",
                                     :id => user.uuid
                                 }
        )
    %>
  </td>

</tr>

