<div class="page-header">
  <% if admin_session? %>
    <%= iconic_link_to 'List', users_path, :icon => 'list-alt', :class => 'btn btn-default' %>
    <%= iconic_link_to 'Show', @user, :icon => 'user', :class => 'btn btn-primary' %>
  <% end %>
  <h1>Edit Profile</h1>
</div>

<%= render 'form' %>
