<div class="row">
  <div class="col-sm-8">
    <h1>Interested in Hosting Something?</h1>
    <p>Please leave a brief description of what you'd like to host and we'll be in touch!</p>
    <div class="well">
      <%= render 'messages/form', hidden_subject: true %>      
    </div>
  </div>
</div>
