<%
  show_attend_btn ||= false
%>
<% if event.slots_left > 0 %>
  <% if user_signed_in? %>
    <% if current_user.attending_event?(event) %>
      <span class="text-success">
        you 
        <% if event.occurred? %>
          attended
        <% else %>
          are signed up
        <% end %>            
      </span>
    <% else %>
      <% if show_attend_btn %>
        <%= link_to attend_path(event), :class => "btn btn-success btn-large attend_event", :method => :post do -%>
          <i class="icon-check icon-large"></i> Attend
        <% end -%>
      <% end %>
    <% end %>
  <% elsif show_attend_btn %>
    <button data-auto_attend_event="<%= event.uuid %>" data-auto_attend_event_title="<%= event.title %>" data-toggle_modal_registration class="btn btn-success btn-large"><i class="icon-check icon-large text-success"></i> Attend</button>
  <% end %>
<% else %>
  <h4 class="text-error"><i class="icon-ban-circle"> </i> full</h4>
<% end %>
