<div class="text-center">
  <div>
    Wait a minute! Don’t create a new submission if you are just adding a new date.
  </div>

  <h4>
    Schedule a new date for
  </h4>
  <ul class="list-unstyled simple_index text-left list-unstyled-plus">
    <% @workshops.each do |workshop| %>
    <li class="row">
      <%= link_to new_workshop_events_path(workshop) do %>
        <span class="btn btn-warning btn-xs">
          <i class='fa fa-plus'></i>
         </span>
        <%= workshop.title %>
      <% end %>
    </li>
    <% end %>

  </ul>
  <div class="sidebar-padding-top">
    <h4>Submit a new event</h4>
  </div>
  <%= link_to  "#", class: "btn btn-primary event-save ladda-button", data: {:style => "zoom-in"}  do%>
    <span class = "ladda-label">
      Save
    </span>
  <% end %>
  <%= link_to  "#", class: "btn btn-success event-save-and-publish  ladda-button", data: {:style => "zoom-in"}   do %>
    <span class = "ladda-label">
      View & submit
    </span>
  <% end %>

</div>