<% 
 event ||= @event 
 short_date ||= false
 no_tz ||= false
 date_format = short_date ? "%A %b" : "%A %B"
%>
<span><%= event.localized_start_time.strftime(date_format + " #{event.start_time.day.ordinalize}") %></span> <span><%= l event.localized_start_time, format: :short_time %> - <%= l event.localized_end_time, format: :short_time %></span> 
<% unless no_tz %>
  <span class="time_zone"><%= friendly_time_zone_name(event.time_zone) %></span>
<% end %>