<% event ||= @event %>
<h1><%= link_to_unless_current event.title, event %>
  <% if admin_session? %>
    <%= link_to 'Edit', edit_event_path(event), :class => 'btn btn-small' %>        
  <% end %>
</h1>
<div class="media">
  <div class="pull-left">
    <img src="<%= @event.img_src(:medium) %>" class="img-rounded media-object">    
  </div>
  <div class="media-body">
    <h4 class="event_time">
      <%= render :partial => 'times', :locals => {:event => event} %>
    </h4>    
  </div>
</div>
