<%= iconic_link_to 'New Workshop', new_workshop_path, :icon => 'plus', :title => 'create a new workshop (not a re-scheduling of one you have hosted before)', 
    :class => 'btn btn-default pull-right', :id => 'new_workshop_btn' %>
<h1>Your Events</h1>
<div>
  <% if @events.blank? %>
    No events.
  <% else %>
    <%= render 'admin_index', :events => @events %>
  <% end %>
</div>
