<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-9 center-text">
        <h2 class="event-title">post an event or activity that <span class="bold">you are hosting</span></h2>
        <div class="event-title-description"><%= link_to "click here", new_aggr_events_path %> to post something that someone else is hosting</div>
      </div>
    </div>
    <%= render 'form', :aggr => false %>
  </div>
</div>