<div class="row">
  <div class="col-md-12">
  <span class="panel pull-right">

  </span>
    <h2 class="text-muted margin0">post an event or activity that you are hosting</h2>
    <%= render 'form', url: create_workshop_events_path(@workshop) %>
  </div>
</div>