<% if params[:v] === '2' %>
<div class="row">
  <div class="span8">
    <%= render 'workshops/index' %>
  </div>
</div>
<% else %>
  <%= render :partial => 'workshops/expandible_index', :locals => {:workshops => @workshops} %>
<% end %>