<% if params[:v] === 'old' %>
  <%= render :partial => 'workshops/expandible_index', :locals => {:workshops => @workshops} %>
<% else %>
<div class="row">
  <div class="span8">
    <%= render 'workshops/index' %>
  </div>
</div>
<% end %>
