<%
   content_for(:meta_description, "Learn skills, make things, share knowledge, and connect with your neighbors. Community workshops and skillshares, local events and activities in the San Francisco Bay Area.")
   content_for(:meta_keywords, %w(events workshops local Berkeley Oakland).join(","))
%>
<!--<div class="row">-->
  <!--<div class="col-md-8">-->
    <!--<ul class="nav nav-pills">-->
      <!--<li<%#= ' class=active' unless (session[:sort_order] === 'distance') %>>-->
        <!--<%#= link_to 'Sort by date', root_path(:sort => :date), :method => :post %>-->
      <!--</li>-->
      <!--<li<%#= ' class=active' if (session[:sort_order] === 'distance') %>>-->
        <!--<%#= link_to 'Sort by distance', root_path(:sort => :distance), :method => :post %>-->
      <!--</li>-->
      <!--<li class='editable_location<%#= ' text-muted' unless (session[:sort_order] === 'distance') %>' id="current_loc" data-longitude="<%#= @location.longitude %>" data-latitude="<%#= @location.latitude %>" data-preferred_distance_units="<%#= current_user.try(:preferred_distance_units) || 'mi' %>">-->
        <!--from <%#= editable @location, :address %> <span id="in_city_state"><%#= "(#{city_n_state(@location)})" unless @location.address_contains_city_state %></span>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->
<div class="row margin_top10  home_events_page">
  <div class="col-md-8 home_events_page_dynamic">
    <%= render 'events/index' %>
  </div>

  <div class="col-xs-12 col-md-8 show_more_events_container">
  <%= link_to content_tag(:span,"Show more", :class => "ladda-label"), home_events_page_path(1), :data => { :page => 1, :style => "zoom-in" } , :class => "show_more_events btn btn-lg btn-button btn-primary ladda-button" %>
  </div>
</div>

<% if session[:sort_order] === 'distance' %>
  <% ready_script do -%>
    $(".editable").editable({
    ajaxOptions: {type: 'PUT'},
    error: function(response, newValue) {
    show_bootstrap_alert({type: 'error', text: 'Not a valid address.'});
    },
    success: function(response, newValue) {
    if (response.address_contains_city_state) {
    $("#in_city_state").hide();
    } else {
    $("#in_city_state").text('(' + response.location.city + ', ' + response.location.state_code + ')').show();
    }
    location.reload(true);
    }
    });
    var current_loc = $("#current_loc"),
    cur_longitude = current_loc.data('longitude'),
    cur_latitude = current_loc.data('latitude'),
    units = current_loc.data('preferred_distance_units');

    $(".workshop_dist").each(function(index) {
    var _this = $(this),
    longitude = _this.data('longitude'),
    latitude = _this.data('latitude'),
    dist = getDistanceFromLatLonInKm(latitude, longitude, cur_latitude, cur_longitude);
    if (units == 'mi') {
    _this.text(Number(dist*0.621371).toFixed(1) + 'mi');
    } else {
    _this.text(Number(dist).toFixed(1) + 'km');
    };
    });
  <% end -%>
<% end %>

<% ready_script do -%>

  $(".show_more_events").click(function(e){
  e.preventDefault();
  var _this = $(this);
  var _l = Ladda.create(this);
  _l.start();
  var _div = $('<div/>');
  _div.css('display','none');
  _this.data('page', parseInt(_this.data('page'))+1)
  _div.load($(this).attr('href').replace("1", _this.data('page')), function(){
  _div.appendTo(".home_events_page_dynamic");
    _div.slideDown('slow', function(){
  _l.stop();
  });
  });



  });

<% end -%>