<div class="region">
	<div class="img">
		<h4>This is Berkeley, CA</h4>
		<%= image_tag("berkeley200.jpeg", :alt => "berkeley image") %>
	</div>
	<div class="intro">
		<p>Organizing an event? Want to share your passion for something?  Or maybe you're just looking for something to do this weekend? Want to meet people in positive engaging environments?</p> 
		Villagecraft is a safe peer-reviewed platform for active, passionate folks to get out and discover the true breadth of their local communities.
	</div>
</div><br>
<h3 style="clear:both;">Upcoming Activities</h3>
<%= render :partial => 'events/index', :locals => {:events => @events} %>