<div id="terms_of_use_and_user_agreement" class="row">
	<div class="col-sm-8">
		<h1>Terms of Use & User Agreement</h1>
		<p>Welcome. We’re glad you’re here. We have prepared this agreement ("user agreement" or "agreement") between Villagecraft ("we", "our," "us") and you so that you can know your rights and our rights. This agreement sets the terms of your use of Villagecraft.</p>

		<p>Villagecraft is a platform for finding and offering in-person activities centered around experiential learning. Our aim is to build positive community and to encourage a world with more skilled and knowledgeable people, more open interaction across the barriers that separate us, and more open homes, hearts and minds. These terms - and your conduct - make that possible.</p>

		<p>This agreement is a legal contract between you and us. You acknowledge that you have read, understood, and agree to be bound by the terms of this agreement. If you do not agree to this agreement, do not use villagecraft.</p>

		<p>We may update this user agreement at any time. By continuing to use Villagecraft after a change to this agreement, you agree to those changes. We will keep previous versions of this agreement for you to access if you like.</p>
		
		<p>The effective date of this version of these Terms of Use is November 1, 2014.This current user agreement supersedes all prior or contemporaneous agreements between you and us.</p>
		
		<p>Please take a look at our <%= link_to 'privacy policy', privacy_policy_path %> too. It explains how we collect and use your information.</p>

		<h2>membership and your account</h2>
		<h3>eligibility</h3>
		<p>Villagecraft is available to all individuals who are at least 18 years of age whose accounts have not been temporarily or indefinitely suspended. By registering to use our platform, you represent and warrant that you are at least 18 years of age.</p>
		
		<p>Without advance notice and at any time, we may, for violations of this agreement or for any other reason we choose, suspend your access to Villagecraft, suspend or terminate your account, and/or remove any content you have created from Villagecraft.</p>

		<h3>password security</h3>
		<p>When you register as a member of Villagecraft, you create a password that will enable you to access our platform. You agree to keep your password private. You are fully responsible for all liability and damages resulting from your failure to maintain the security of your password and all activities that occur through the use of your password. You agree to immediately notify us of any unauthorized use of your password.</p>

		<h3>monitoring and moderation</h3>
		<p>We reserve the right to monitor interactions between members and to moderate content posted on Villagecraft. Your use means you agree to such monitoring and moderation. At the same time, we do not guarantee that we will monitor or moderate Villagecraft, nor that we are even capable of comprehensively doing so.</p>

		<h3>don't be mean</h3>
		<p>Do not be intentionally hurtful on our platform.</p>

		<h3>keep everyone safe</h3>
		<p>Look out for one another. Do not harm or incite harm to others. Be mindful of other persons’ physical safety.</p>

		<h3>abide by the law</h3>
		<p>You may not use Villagecraft to break the law, violate an individual's privacy, or infringe any person or entity’s intellectual property or any other proprietary rights.</p>

		<h2>personal responsibility</h2>
		<p>We seek to create a community of individuals who are responsible for themselves. We cannot control, nor assume responsibility for, any Villagecraft member’s behavior, either on the internet or during in-person activities. You are at all times responsible for your own actions and safety.</p>

		<p>You are solely responsible for your interactions with other members of Villagecraft. Villagecraft makes no representations or warranties as to, and has no responsibility or liability with respect to, any interactions, communications, disagreements, or any relations whatsoever between you and any other member, person or organization.</p>

		<h3>events you find on Villagecraft</h3>
		<p>The Villagecraft platform provides tools that enable our users to arrange physical meetings at various kinds of places: local businesses, private homes, public parks, etc. Members may organize and host in-person events for other Villagecraft members. They may also suggest events that they are not themselves hosting or, even, planning to attend.</p>

		<p>Neither of the above mentioned types of events are sponsored or endorsed by Villagecraft. We have no control over the environment these events take place in, nor the actions of the individuals who are present at these gatherings. Members attend events they find through Villagecraft at their own risk.</p>

		<h3>safety</h3>
		<p>Villagecraft is just a platform that enables you to interact and learn with other people. We cannot control nor be responsible for the people, places, skillsets or knowledge that you come into contact with through our platform. Please use good judgment and keep your own safety and wellbeing in mind at all times, especially if you are involved in an activity that utilizes your body.</p>

		<h2>relsease</h2>
		<p>Because our services are a platform and we do not supervise or control in-person gatherings or interactions among or between Villagecraft members and other persons or companies, because we cannot guarantee the true identity of our members, and because we have very limited control, if any, over the truthfulness, safety, morality, legality, or accuracy of various aspects of the platform, you agree that you bear all risk and you agree to release us (and our officers, directors, shareholders, agents, employees, affiliates, subsidiaries, and third party partners) and event hosts and their designees from claims, demands, and damages actual  and consequential of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with a dispute. If you are a California resident, you waive California Civil Code 1542, which says: “A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor.”</p>

		<h2>fees and payments</h2>
		<h3>general</h3>
		<p>Access to Villagecraft and use of select features of our platform is free. We may charge fees for various services that we offer, and we will let you know of those charges at the time that we offer you those services. We may, at any time and for any reason we choose, change this policy and begin charging for access to our website and other features and services. We may also add, remove or change the features and services we offer or the fees, including the amount or the type of fees we charge at any time.</p>
		
		<p>If we add a new service or change any fee, we will let you know. You agree to pay all fees and charges specified and all applicable taxes for your continued use of said services.</p>

		<h3>payments to hosts</h3>
		<p>Some hosts may require or request fees for attendance at an event they host. How much, if any, an individual attendance fee costs is chosen by each host, who decides whether such fees are required, the amount, payment options, and how such fees are spent. When hosts ask a fee, Villagecraft charges $2 or %17, whichever is greater, per individual rsvp which is paid to Villagecraft when a member signs up for a host’s event.</p>

		<p>You may receive a full refund of any payment you make to a host by canceling your attendance prior to an event. After an event has started, refunds are not available. If you seek a refund after an event has started, you can try asking the host of that event. If you believe any payment to a host is in error, cancel your attendance prior to that event to receive a refund, or <%= mail_to 'Villagecraft Feedback <feedback@villagecraft.org>', 'get in touch with us', subject: 'Villagecraft Feedback Report' %>.</p>

		<p>Hosts have full discretion whether and how to spend money they receive for events they offer. We cannot control whether a host is legitimate and truthful, that he or she will use payments as promised, or that you will be happy with how your payment is spent.</p>

		<h2>leagalese</h2>
		<p><strong>Please read the following carefully. Each of the following sections applies to the maximum extent permitted by law.</strong></p>

		<h3>links to other websites</h3>
		<p>Villagecraft may contain links to third-party sites that are not under our control. These links are provided for convenience and do not signify that Villagecraft endorses said website. Villagecraft is not responsible for the contents of any linked site or any link contained in a linked site, or any changes or updates to such sites.</p>

		<h3>copyright and trademarks</h3>
		<p>Copyright Notice: Copyright © 2013-2014 Villagecraft, Inc. All Rights Reserved</p>

		<p>Villagecraft, Villagecrafters, etc. is/are trademarks of Villagecraft Inc. All other trademarks, trade names, service marks, and service names are the property of their respective holders.</p>
	</div>
</div>