<div id="what_is_stripe" class="row">
  <div class="col-sm-12 text-center">
  	<div id="payment-header">
  		<p>Accept advance payments for workshops!</p>
		</div>
  	<h2>Share skills and build community— and be supported financially.</h2>
		<h2>Now you get paid up front when someone rsvps for your workshop.</h2>
	</div>
</div>

<div class="row spacer40"></div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3 text-center stripe-faq-box">
		<div class="navy-text">
			<h2>Stripe enables you to accept payments.</h2>
		</div>
		<!-- DIVIDER LINE -->
		<svg width="300" height="20">
			<line x1="0" y1="10" x2="300" y2="10" stroke="black" stroke-width="1"/>
		</svg>

		<div class="grey-text">
			<p><h4>Stripe is a secure payment processor that makes deposits to
			your bank account when someone signs up for your workshop.
			</h4></p>

			<p><h4>It also handles Villagecraft’s service charge, 
			%17 of the cost or $2, whichever is greater.
			</h4></p>
		</div>
		<div class="col-sm-5 text-center">
			<h3>Connect your Stripe account</h3>
			<!-- FIXME add tokens and such to make stripe link work -->
			<a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=<%= CLIENT_ID %>&state=<%= request.original_url %>" class="stripe-connect"><span>Connect Stripe</span></a>
		</div>
		<!-- DIVIDER LINE hides on xs screens-->
		<div class="col-sm-2 hidden-xs">
			<svg width="20" height="180">
				<line x1="10" y1="0" x2="10" y2="180" stroke="black" stroke-width="1"/>
			</svg>
		</div>
		<div class="col-sm-5 text-center">
			<h3>Create a Stripe account</h3>
			<!-- FIXME add tokens/params and such to make stripe link autofill. Redirect to villagecraft -->
			<a href="https://dashboard.stripe.com/register" class="stripe-connect"><span>Sign up for Stripe</span></a>
		</div>
	</div>
</div>

<div class="row spacer20"></div>

<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>Refunds and cancellation</h2> <!-- this should align with "share skills" line above -->
		<p>You can refund a participant by canceling their attendance.</p>
		<p>Participants who cancel their own attendance more than 24 hours before the workshop immediately receive a full refund debited from your bank account.</p>
		<p>If you cancel a workshop, all participants will be refunded in full.</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>Workshops created before we accepted payments</h2> <!-- this should align with "share skills" line above -->
		<p>If you want to accept prepayments, change the price of your workshop and create a Stripe account.</p>
		<p>If you prefer to handle payments yourself, keep the previous price of your workshop and folks will continue to rsvp without paying, just like old times.</p>
	</div>
</div>