<div id="what_is_stripe" class="row">
  <div class="col-sm-12 text-center">
  	<div id="payment-header">
  		<p>Accept advance payments for workshops!</p>
		</div>
  	<h2>Share skills and build community— and be supported financially.</h2>
		<h2>Now you get paid up front when someone rsvps for your workshop.</h2>
	</div>
	<!-- put some line breaks here -->
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 text-center stripe-faq-box">
			<div class="navy-text">
				<h2>Stripe enables you to accept payments.</h2>
			</div>
			<div class="grey-text">
				<p><h4>Stripe is a secure payment processor that makes deposits to
				your bank account when someone signs up for your workshop.
				</h4></p>

				<p><h4>It also handles Villagecraft’s service charge, 
				%17 of the cost or $2, whichever is greater.
				</h4></p>
			</div>


				<div class="col-sm-6 text-center">
					<h3>Connect my Stripe account</h3>
					STRIPE BUTTON
				</div>
			<!-- put a divider line here -->
				<div class="col-sm-6 text-center">
					<h3>Create a Stripe account</h3>
					STRIPE BUTTON
				</div>

			<!-- put line breaks here -->
		</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>Refunds and cancellation</h2> <!-- this should align with "share skills" line above -->
				<p>You can refund a participant by canceling their attendance.</p>

				<p>Participants who cancel their own attendance more than 24 hours before the workshop immediately receive a full refund debited from your bank account.</p>

				<p>If you cancel a workshop, all participants will be refunded in full.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>Workshops created before we accepted payments</h2> <!-- this should align with "share skills" line above -->
				<p>If you want to accept prepayments, change the price of your workshop and create a Stripe account.</p>

				<p>If you prefer to handle payments yourself, keep the previous price of your workshop and folks will continue to rsvp without paying, just like old times.</p>
			</div>
		</div>


	
</div>