<div id="new_venue_modal" class="modal fade" tabindex="-1" data-backdrop="true" data-keyboard="true" role="dialog" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-header-content">
            <h2>New Venue</h2>
        </div>
      </div>
      <div class="modal-body">
        <%= render 'venues/form', :venue => venue, :span => 'col-md-5', :remote => true%>
      </div>
    </div>
  </div>
</div>