<div class="page-header">
  <%= iconic_link_to 'My Venues', my_venues_path, icon: 'list-alt', class: 'btn btn-default' %>
  <%= link_to 'View', @venue, class: 'btn btn-primary' %>
  <h1>Editing venue</h1>
</div>

<%= render 'form' %>
