<div class="page-header">
  <%= link_to new_venue_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Venue
  <% end %>
  <h1>Listing venues</h1>
</div>
<%= render 'index', :venues => @venues %>
