<h1>Your Venues</h1>
<p>
  <%= iconic_link_to 'New Venue', new_venue_path, :icon => 'plus', :class => 'btn btn-primary' %>
</p>
<div>
  <% if @venues.blank? %>
    No venues.
  <% else %>
    <%= render 'index', :venues => @venues %>
  <% end %>
</div>
