.bio{
  width: 35px;
  height: 35px;
  background-image: image-url('bio.jpg');

  display: inline-block;

  
  &.nr_1{
    background-position: -16px -31px;
    width: 20px;
  }
  
  &.nr_2{
    background-position: 123px -31px;
    width: 20px;
  }
  
  &.nr_3{
    background-position: 87px -31px;
    width: 20px;
  }
  
  &.nr_4{
    background-position: 53px -31px;
    width: 20px;
  }
  
  &.nr_5{
    background-position: 18px -31px;
    width: 20px;
  }
  
  
  
  &.nr_6{
    background-position: -16px -62px;
    width: 20px;
  }
  
  &.nr_7{
    background-position: 139px -62px;
  }
  
  &.nr_8{
    background-position: 103px -62px;
  }
  
  &.nr_9{
    background-position: 69px -62px;
  }
  
  &.nr_10{
    background-position: 34px -62px;
  }
  
  
  
  
  &.nr_11{
    background-position: 0px -93px;
  }
  
  &.nr_12{
    background-position: 139px -93px;
  }
  
  &.nr_13{
    background-position: 103px -93px;
  }
  
  &.nr_14{
    background-position: 69px -93px;
  }
  
  &.nr_15{
    background-position: 34px -93px;
  }
  
  
  &.nr_16{
    background-position: 0px -125px;
  }
  
  &.nr_17{
    background-position: 139px -125px;
  }
  
  &.nr_18{
    background-position: 103px -125px;
  }
  
  &.nr_19{
    background-position: 69px -125px;
  }
  
  &.nr_20{
    background-position: 34px -125px;
  }
  
  
  &.nr_25{
    background-position: 0px -156px;
  }
  
  &.nr_30{
    background-position: 139px -156px;
  }
  
  &.nr_35{
    background-position: 103px -156px;
  }
  
  &.nr_40{
    background-position: 69px -156px;
  }
  
  &.nr_45{
    background-position: 34px -156px;
  }
  
  &.nr_50{
    background-position: 34px -188px;
  }
  
  &.nr_dolar{
    background-position: 19px 0px;
    width: 19px;
  }
  &.free{
    background-position: 94px -190px;
    width: 60px;
  }
  &.donation{
    background-position: 0px 0px;
    width: 90px;
  }
}
.bio{
  width: 35px;
  height: 35px;
  background-image: image-url('bio.jpg');

  display: inline-block;

  
  &.nr_1{
    background-position: -16px -31px;
    width: 20px;
  }
  
  &.nr_2{
    background-position: 123px -31px;
    width: 20px;
  }
  
  &.nr_3{
    background-position: 87px -31px;
    width: 20px;
  }
  
  &.nr_4{
    background-position: 53px -31px;
    width: 20px;
  }
  
  &.nr_5{
    background-position: 18px -31px;
    width: 20px;
  }
  
  
  
  &.nr_6{
    background-position: -16px -62px;
    width: 20px;
  }
  
  &.nr_7{
    background-position: 139px -62px;
  }
  
  &.nr_8{
    background-position: 103px -62px;
  }
  
  &.nr_9{
    background-position: 69px -62px;
  }
  
  &.nr_10{
    background-position: 34px -62px;
  }
  
  
  
  
  &.nr_11{
    background-position: 0px -93px;
  }
  
  &.nr_12{
    background-position: 139px -93px;
  }
  
  &.nr_13{
    background-position: 103px -93px;
  }
  
  &.nr_14{
    background-position: 69px -93px;
  }
  
  &.nr_15{
    background-position: 34px -93px;
  }
  
  
  &.nr_16{
    background-position: 0px -125px;
  }
  
  &.nr_17{
    background-position: 139px -125px;
  }
  
  &.nr_18{
    background-position: 103px -125px;
  }
  
  &.nr_19{
    background-position: 69px -125px;
  }
  
  &.nr_20{
    background-position: 34px -125px;
  }
  
  
  &.nr_25{
    background-position: 0px -156px;
  }
  
  &.nr_30{
    background-position: 139px -156px;
  }
  
  &.nr_35{
    background-position: 103px -156px;
  }
  
  &.nr_40{
    background-position: 69px -156px;
  }
  
  &.nr_45{
    background-position: 34px -156px;
  }
  
  &.nr_50{
    background-position: 34px -188px;
  }
  
  &.nr_dolar{
    background-position: 19px 0px;
    width: 19px;
  }
  &.free{
    background-position: 94px -190px;
    width: 60px;
  }
  &.donation{
    background-position: 0px 0px;
    width: 90px;
  }
}