@import "bootstrap-variables";
@import 'bootstrap';
@import 'bootstrap-responsive';

body {
	padding-top:60px;
}

.user-city {}

.center-text {
  text-align: center;
}

.margin0 {
  margin: 0;
}

.margin_top0 {
  margin-top: 0;
}

.btn i {
  vertical-align: middle;
}

.table.meter {
  table-layout: fixed;
  font-size: 120%;
  margin-bottom: 0px;
}

.table.meter th, .table.meter td { 
  border-top: none; 
  text-align: center;
  vertical-align: middle;
  padding: 0px;
} 
 
span.quantized_progress {
  vertical-align: baseline;
  display: inline-block;
  span.progress {
    margin: 1px 0px;
    @include box-shadow(none);
    @include border-radius(0px);
    background-image: none;
    background-color: white;
    span.bar {
      height: 11px;
      background-image: url('unit.png');
      background-repeat: repeat;
      @include box-shadow(none);
    }
    span.bar.under.off {
      background-color: $errorText;
    }
    span.bar.over.off {
      background-color: $grayLight;
    }
    span.bar.under.on {
      background-color: #dd514b;
    }
    span.bar.over.on {
      background-color: $successText;
    }
  }
}

form div.controls-row.event_when input {
  width: 8em;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.thumbnail.right-caption img {
    float: left;
    margin-right: 9px;
}

.thumbnail.bottom-caption img {
    display: block;
    margin-left: 0px;
    margin-right:  0px;
}

.thumbnail.right-caption .caption {
    padding: 0px;
    overflow: hidden;
    float: none;
}

.notifications {
  padding: 0;
}

.notifications ul {
  margin: 0;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.notifications li {
  width: 400px;
}

.dropdown-menu.notifications .thumbnail a:hover {
  text-decoration: none;
}

.dropdown-menu.notifications .thumbnail:hover {
  background-color: $grayLighter;
}

.dropdown-menu.notifications li.divider {
  width: 100%;
  margin: 0;  
}

.brand-tag {font-size:80%;}
.region{margin-bottom:40px;width:100%;}
.region .img {position:relative;float:right;margin-bottom:40px;}
.region .intro {width:450px;margin-top:30px;position:relative;float:left;}

.blocky_spans {
  margin-left: 0px;
  span {
    display: block;
    white-space: nowrap;
  }
}

.event_time {
  span {
    display: block;
  }
  .time_zone {
    color: $grayLight;
  }
}

.intro {font-size:1.2em;}

.media-body {
  h4 {
    margin-top: 0px;
  }
}

img.float-right {
   float: right; 
   padding: 5px;
}

tr.expandable {
  cursor: pointer;
}

.table-hover tbody tr.event_detail:hover td {
  background-color: white;
}

.linky {
  color: $linkColor;
}

.underline {
  text-decoration: underline;
}

.absolute_bottom {
  position: absolute;
  bottom: 0;
}
