@import "bootstrap-variables";
@import 'bootstrap';
@import 'bootstrap-responsive';
@import "editable/bootstrap2-editable";

body h2 {

}

@font-face {
  font-family: 'BalsamiqSans';
  src:url('BalsamiqSansRegular.ttf');
  src:url('BalsamiqSansRegular.ttf?#iefix') format('embedded-opentype'),
    url('BalsamiqSansRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.vc_navbar {
  margin-top: 5px;
  margin-bottom: 20px;
}

.user-city {}

.center-text {
  text-align: center;
}

.margin0 {
  margin: 0;
}

.margin10 {
  margin: 10px;
}

.margin_top0 {
  margin-top: 0;
}

.nowrap {
  white-space: nowrap;
}

.floatright {
  float: right;
}

.smaller {
  font-size: 80%;
}

.popover {
  max-width: 300px;
  width: auto;
}

.btn {
  i {
    vertical-align: middle;
    padding: 0 0.75em  0 0;
  }
  &.icon_only i {
    padding: 0;
  }
}

a.iconic_link_to {
  i {
    vertical-align: middle;
    text-decoration: none;
    padding: 0 5px;
  }
  &:hover {
    i {
      text-decoration: none;      
    }
  }
}

.table.meter {
  table-layout: fixed;
  font-size: 120%;
  margin-bottom: 0px;
}

.table.meter th, .table.meter td { 
  border-top: none; 
  text-align: center;
  vertical-align: middle;
  padding: 0px;
} 
 
span.quantized_progress {
  vertical-align: baseline;
  display: inline-block;
  span.progress {
    margin: 1px 0px;
    @include box-shadow(none);
    @include border-radius(0px);
    background-image: none;
    background-color: white;
    span.bar {
      height: 11px;
      background-image: url('unit.png');
      background-repeat: repeat;
      @include box-shadow(none);
    }
    span.bar.under.off {
      background-color: $errorText;
    }
    span.bar.over.off {
      background-color: $grayLight;
    }
    span.bar.under.on {
      background-color: #dd514b;
    }
    span.bar.over.on {
      background-color: $successText;
    }
  }
}

form div.controls-row.event_when input {
  width: 8em;
}

// deprecated ???
ul.thumbnails {
  margin: 0;
  li {
    margin: 0;
    padding: 0;
  }
  .thumbnail {
    border: 0 none;
    box-shadow: none;
  }
  .thumbnail.right-caption {
    float: left;
    > img {
      float: left;
      margin-right: 9px;
    }
    > .caption {
      padding: 4px;
    }
  }
  .caption {
    padding-left: 4px;
  }
  .caption.right-caption {
    span {
      vertical-align: middle;
    }
  }
  .caption.right-caption.thumb {
    line-height: $thumb_thumb_size + 8px;
  }
  .caption.right-caption.small {
    line-height: $small_thumb_size + 8px;
  }
  .caption.right-caption.medium {
    line-height: $medium_thumb_size + 8px;
  }
  .caption.right-caption.large {
    line-height: $large_thumb_size + 8px;
  }
}

.thumbnail img {
  margin: 0px;
  padding: 0px;
}

.thumbnail img.small {
  min-height: 50px;
  min-width: 50px;
}

.media {
  .bottom_caption {
    clear: left;
  }
}

.notifications {
  padding: 0;
}

.notifications ul {
  margin: 0;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.notifications li {
  width: 400px;
}

.dropdown-menu.notifications .thumbnail a:hover {
  text-decoration: none;
}

.dropdown-menu.notifications .thumbnail:hover {
  background-color: $grayLighter;
}

.dropdown-menu.notifications li.divider {
  width: 100%;
  margin: 0;  
}

.brand-tag {font-size:80%;}
.region{margin-bottom:40px;width:100%;}
.region .img {position:relative;float:right;margin-bottom:40px;}
.region .intro {width:450px;margin-top:30px;position:relative;float:left;}

.blocky_spns {
  margin-left: 0px;
  span {
    display: block;
    white-space: nowrap;
  }
}

.blocky_attend {
  font-size:2.1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:300;
  margin-right:15px;
  margin-bottom:5px;
  text-align:center;
  margin-left:8px;
}

.rerun_times, .event_time {
  span {
    display: block;
  }
  .time_zone {
    color: $grayLight;
  }
}

.intro {font-size:1.2em;}

.media-body {
  h4 {
    margin-top: 0px;
  }
}

tr.expandable {
  cursor: pointer;
  td {
    padding-bottom: 0px;
    div.more {
      text-align: center;
    }
  }
}

.table-hover > tbody tr.event_detail:hover td {
  background-color: white;
}

.table-hover > tbody tr.event_summary:hover table {
  background-color: $tableBackgroundHover;
}

.linky {
  color: $linkColor;
}

.underline {
  text-decoration: underline;
}

.admin_color {
  color: orange;
}

.badged {
  overflow: visible;
  .badge_me {
    position: relative;    
    .thumb_badge {
      position: absolute;
      right: -3px;
      top: -5px;
      border-left: 3px solid white;
      border-bottom: 3px solid white;
    }
  }
}

.vc_badge {
  font-size: 120%;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 480px) {
  .media .pull-left,
  .media .pull-right {
    float: left;
  }
}

.admin-only {
  position: relative;
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "admin-only";
    padding: 5px;
    color: orange;
  };
}

table.table.borderless th, table.table.borderless td { 
   border-top: none; 
}

table.table.when_where_host_table {
  width: 500px;
  min-width: 500px;
  margin-bottom: 0px;
  table-layout: fixed;
  .workshop_img {
    text-align: left;
    vertical-align: middle;
  }
}

table.table.when_where_host_table tr td.when, table.table.when_where_host_table tr td.where {
  width: 140px;
  min-width: 140px;
}

table.table.when_where_host_table tr td.attends {
  width: 60px;
  min-width: 60x;
}

table.table.when_where_host_table tr td.host {
  width: 160px;
  min-width: 160px;
}

.large_page_thumb {
  margin-bottom: 10px;
}

.initially_hidden {
  display: none;
}

.very_faint {
  opacity: 0.001;
}

.table td {
  margin-bottom:0px;
  padding:4px;
}

.fee {
  margin-top: 10px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
}

.fee_cta {
  margin-bottom: 10px;
  .fee {
    margin-top: 0;
  }
  .cta {
    white-space: nowrap;
  }  
}

.event_title {
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.event_rsvpd {

}

.help-block,
.help-inline {
  color: lighten($textColor, 45%); // lighten the text some for contrast
}

label abbr[title] { border: none; }

#footer {
  margin-top: 2000px;
}

button.zero_clip_button {
  i { padding: 0; }
  .zeroclipboard-is-hover {
    background-color: #e6e6e6;
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
  }

  .zeroclipboard-is-active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);

    color: #333333;
    background-color: #e6e6e6;
  
    background-color: #cccccc \9;
  }
}

/* normalize all markdown-generated headers to Bootstrap's H4 styling */
.event_description, .normalized_markdown {
  h1, h2, h3, h4, h5, h6 {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin: 10px 0;
    text-rendering: optimizelegibility;
    width: 415px;
  }
}

.text-error {
  color:#9031A8;
}

.table-hover {
  a:hover {
    text-decoration: none;
  }
}

tr.click_to_show {
  cursor: pointer;
}

button.editable-submit, button.editable-cancel {
  i {
    padding: 0;
  }
}

table.rerun_index {
  th {
    padding-left: 4px;
  }
  td {
    text-align: left;
  }
  td.meeting_time > span > span:first-child {
    display: inline-block;
    padding-right: 0.5em;
  }
}

span.vc_editable {
  cursor: pointer;
  text-decoration: none;
  border-bottom: dashed 1px #0088cc;
}

td span.editable {
  cursor: pointer;
}

.activity {
  margin-bottom: 10px;
  .activity_thumb {
    margin-right: 10px;
  }
}

a.icon_button, a.icon_button:hover, a.undecorated {
  text-decoration: none;
}

.fileinput-preview {
  max-height: 270px;
  max-width: 270px;
  @include border-radius($borderRadiusLarge);
  img {
    @include border-radius($borderRadiusLarge);
  }
  &.crop {
    &.small {
      height: $small_thumb_size;
      width: $small_thumb_size;
    }
    &.medium {
      height: $medium_thumb_size;
      width: $medium_thumb_size;
    }
    &.large {
      height: $large_thumb_size;
      width: $large_thumb_size;
    }
    &.large_orig {
      height: $large_thumb_size;
      width: $large_thumb_size;
    }
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    img {
      position: absolute;
    }
  }
}

.simple_boxed_form {
  background: none;
  @include border-radius($borderRadiusLarge);
  border-width: 10px;
  margin: 0;
  .form-actions {
    border: none;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.external_domain {
  color: $grayLight;
  text-decoration: none;
}

.indent-thumb {
  margin-left: $thumb_thumb_size + 10;
}

blockquote.fancy {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 500px;
//  margin: 0.25em 0;
  border: none;
  padding: 0.35em 20px;
  line-height: 1.45;
  position: relative;
  color: #383838;
  margin-bottom: 0;
}

blockquote.fancy:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 50px;
  position: absolute;
  left: -20px;
  top: -12px;
  color: #7a7a7a;
}

blockquote.fancy cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote.fancy cite:before {
  content: "\2014 \2009";
}

#send_sms_form {
  width: 250px;
  textarea {
    width: 250px;
  }
  .counter {
    float: right;
   &.exceeded {
     color: $red;
   }
 }
}

.has_help_bubble ~ .popover {
  background: $sticky_note_yellow;
  &.right {
    .arrow:after {
      border-right-color: $sticky_note_yellow;
    }
  } 
}

.tab-pane {
  padding: 10px 0;
}

.chunk_header {
  margin-bottom: 0px;
  padding-left: 8px;
}

.day_chunk {
  li.media {
    background: $vc_greengrayLight;
    padding: 5px 10px 10px;
    margin: 0 0 2px 0;    
  }
  .start_time {
    margin-top: 0;
    margin-bottom: 5px;
    color: $grayLight;
    padding-left: 4px;
  }
}

.price_tag {
  font-size: 120%;
  font-weight: normal;
  padding: 0.5em;
  background: $vc_bluegreen;
}

ul.attendees {
  li {
    margin-bottom: 10px;
  }
}

.side_content {
  h4 {
    padding-bottom: 2px;
    border-bottom: 1px solid #eee;
  }
}