@import "bootstrap-variables";
@import 'bootstrap';
@import 'bootstrap-responsive';

body {
	padding-top:60px;
}

.user-city {}

span.quantized_progress {
  vertical-align: baseline;
  display: inline-block;
  span.progress {
    margin: 1px 0px;
    @include box-shadow(none);
    @include border-radius(0px);
    background-image: none;
    background-color: white;
    span.bar {
      height: 11px;
      background-image: url('unit.png');
      background-repeat: repeat;
      @include box-shadow(none);
    }
    span.bar.under.off {
      background-color: #dd514b;
    }
    span.bar.over.off {
      background-color: #afb9af;
    }
    span.bar.under.on {
      background-color: #dd514b;
    }
    span.bar.over.on {
      background-color: #5db95d;
    }
  }
}

form div.controls-row.event_when input {
  width: 8em;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.thumbnail.right-caption > a {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
    float: left;
}
