<p>Welcome <%= @resource.name %>!</p>

<p>The email address <%= @email %> was used to sign up for <a href="http://villagecraft.org/">villagecraft</a></p>

<p>Before you can login, you'll have to confirm your email address by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>
