<% activities ||= @activities %>
<ul class="thumbnails">
  <li class="span8">
    <% activities.each do |activity| %>
    <div class="thumbnail right-caption span8">
      <%= render_activity activity %>
    </div>
    <% end %>
  </li>
</ul>
