<% 
  activities ||= @activities 
  width ||= 'span8'
  plaintext_activities ||= false
%>
<% activities.each do |activity| %>
<div>
  <%= render_activity activity, :plaintext => plaintext_activities, :show_trackable => true %>
  </div>
<% end %>
