<% 
  activities_n_counts  ||=  @activities_n_counts  
  plaintext_activities ||= false
%>
<% if activities_n_counts.first.is_a? PublicActivity::Activity %>
  <% activities_n_counts.each do |a| %>
    <div>
      <%= render_activity a, :plaintext => plaintext_activities, :show_trackable => true %>
    </div>
  <% end %>
<% else %>
  <% last = nil %>
  <% activities_n_counts.each do |a_and_c| %>
    <% next if a_and_c[:activity].owner.nil? %>
    <div>
      <% extra_html = (a_and_c[:count] > 1) ? 
                      "#{link_to(pluralize(a_and_c[:count] - 1, 'similar activity'), 
                                 fetch_activities_path, 
                                 class: 'fetch_activity', 
                                 format: :html, 
                                 data: { method: :post, remote: true, params: { ids: a_and_c[:like_ids] }.to_param })} hidden".html_safe
                      : nil %>
      <%= render_activity a_and_c[:activity], :plaintext => plaintext_activities, :show_trackable => true, :extra_html => extra_html %>
    </div>
    <% last = a_and_c %>
  <% end %>
  <%= link_to 'More', more_activities_path, class: 'btn btn-default more', format: :html, data: { method: :post, remote: true, params: { id_lower_than: last[:oldest_id] }.to_param } %>
<% end %>

<% ready_script do -%>  
  $(document).on('ajax:success', 'a.fetch_activity', function(e, data, status, xhr) {
    var parent = $(e.target).closest('div.activity').parent();
    var new_stuff = $(data);
    parent.replaceWith(new_stuff);
    new_stuff.highlight();
  });

  $(document).on('ajax:success', 'a.more', function(e, data, status, xhr) {
    var more = $(this);
    var new_stuff = $(data);
    more.replaceWith(new_stuff);
  });  
  
<% end -%>