<% 
  activities ||= @activities 
  width ||= 'span8'
  plaintext_activities ||= false
%>
<ul class="thumbnails">
  <li class="<%= width %>">
    <% activities.each do |activity| %>
    <div class="thumbnail right-caption <%= width %>">
      <%= render_activity activity, :plaintext => plaintext_activities %>
    </div>
    <% end %>
  </li>
</ul>
