<li class="span4">
  <div class="review-rating">
    <div><i class="fa-arrow-up"></i></div>
    <div>0</div>
    <div><i class="fa-arrow-down"></i></div>
  </div>
  <div class="thumbnail thumbnail-review">
    <div class="caption">
      <h4 class="review-author"><%= review.author.name %></h4>
      <p class="review-body"><%= review.body %></p>
      <p class="review-title"><%= time_ago(review.created_at) %> </p>
    </div>
  </div>
</li>