<%
  show_icons ||= false
  click_to_show ||= false
  editable ||= false
  update_reruns_count ||= false
  clear_source_cache ||= false
%>
<table class="table table-hover table-striped rerun_index">
  <thead>
    <th colspan="2">Time</th>
    <th>Attendees</th>
    <th>Slots</th>
    <th>Venue</th>
    <th>Price</th>
    <% if show_icons %>
    <th></th>
    <% end %>
  </thead>
  <tbody>
    <% reruns.each do |rerun| %>
      <%= render 'reruns/row', rerun: rerun, show_icons: show_icons, click_to_show: click_to_show, editable: editable, clear_source_cache: clear_source_cache %>
    <% end %>
  </tbody>
</table>

<% if update_reruns_count %>
  <script type="text/javascript">
    $("#future_reruns_count").html(<%= reruns.count %>);
  </script>
<% end %>