<%
  show_icons ||= false
  show_manage_buttons ||= false
  click_to_show ||= false
  editable ||= false
  update_reruns_count ||= false
  clear_source_cache ||= false
  hide_flags ||= false
%>
<table class="table table-hover table-striped rerun_index">
  <thead>
    <th colspan="2">Time</th>
    <% unless hide_flags %>
      <th>RSVP</th>
      <% if admin_session? %><th>External</th><% end %>
    <% end %>
    <th>Slots</th>
    <th>Venue</th>
    <th>Price</th>
    <% if show_icons or show_manage_buttons %>
    <th></th>
    <% end %>
  </thead>
  <tbody>
    <% reruns.each do |rerun| %>
      <%= render 'reruns/row', rerun: rerun, show_icons: show_icons, show_manage_buttons: show_manage_buttons, click_to_show: click_to_show, editable: editable, clear_source_cache: clear_source_cache, hide_flags: hide_flags %>
    <% end %>
  </tbody>
</table>

<% if update_reruns_count %>
  <script type="text/javascript">
    $("#future_reruns_count").html(<%= reruns.count %>);
  </script>
<% end %>