<%
  rerun ||= @rerun
%>
<ul>
  <% rerun.meetings.order(:start_time).each do |meeting| -%>
    <li>
      <%= render :partial => 'meetings/time', :locals => {:meeting => meeting, :no_tz => true} %>
    </li>
  <% end -%>
</ul>
