<%
  rerun ||= @rerun
  include_venue ||= false
%>
<ul>
  <% rerun.meetings.order(:start_time).each do |meeting| -%>
    <li>
      <%= meeting_time(meeting, :no_tz => true, :show_livestamp => false) %>
      <% if include_venue %>
        <br/>@ <%= inline_venue(meeting.venue, :linked => true) %>
      <% end %>
    </li>
  <% end -%>
</ul>
