<%= simple_form_for(:sms, :url => sms_attendees_path(rerun), :remote => true, :html => {:id => 'send_sms_form'}) do |f| %>
  <%= f.input :message, :as => :text, :label => false, :required => false, :input_html => {:size => "80x3"}, :wrapper_html => {:class => 'margin0'} %>
  <div id="my_counter" class="counter"></div>
  <%= f.submit 'Send', :class => 'btn btn-default' %>
<% end %>

<%- content_for(:a_la_carte_js) do -%>
  <%= javascript_include_tag 'a_la_carte/jquery.charactercounter' -%>
<% end %>

<% ready_script do -%>
  $("#send_sms_form textarea").characterCounter({limit: 160, counterSelector: '#my_counter'});
  $("#send_sms_form").bind('ajax:success', function(evt, data, status, xhr) {
    show_bootstrap_alert({text: "Message sent to attendees"});
  }).bind('ajax:complete', function(evt, xhr, status) {
    $("#send_sms_form textarea").val('');
  });
<% end -%>
