<%= simple_form_for(:sms, :url => sms_attendees_path(rerun), :remote => true, :html => {:id => 'send_sms_form'}) do |f| %>
  <%= f.input :message, :as => :text, :label => false, :required => false, :input_html => {:size => "80x3", :class => 'has_help_bubble'} %>
  <div id="my_counter" class="counter"></div>
  <div class="form-group">
    <%= f.submit 'Send', :class => 'btn btn-default' %> <span class="text-muted">usually by SMS</span>
  </div>
<% end %>

<% ready_script do -%>
  $("#send_sms_form textarea").characterCounter({limit: 160, counterSelector: '#my_counter'});
  $("#send_sms_form").bind('ajax:success', function(evt, data, status, xhr) {
    show_bootstrap_alert({text: "Message sent to attendees"});
  }).bind('ajax:complete', function(evt, xhr, status) {
    $("#send_sms_form textarea").val('');
  });
  
  $('#sms_message').popover({
    placement: 'right',
    content: "Be sure to let folks know which workshop your message is about.",
    trigger: 'manual'
  }).focus(function() { $(this).popover('show'); })
  
  $('#sms_message').blur(function() {
    $(this).popover('hide');
  });
  
<% end -%>
