<% if rerun %>
  <p><span class="label price_tag"><%= event_price(rerun) %></span></p>
  <% if rerun.rsvp? %>
    <% if rerun.full? %>
      <p>full</p>
    <% elsif (spots = rerun.spots_left) <  8 %>
      <p><span class="nowrap"><%= pluralize(spots, 'spot') %> left</span></p>
    <% end %>
  <% end %>
<% end %>
