<%
  use_sprites ||= true
%>
<% if rerun %>
  <p>
    <% if use_sprites and event_price_css_able?(rerun) %>
      <%= link_to event_price_css(rerun), rerun, :class => "price_tag bio_pricing_tag" %>
    <% else %>
      <%= link_to event_price(rerun), rerun, :class => "price_tag label label-primary larger" %>
    <% end %>
  </p>
<% end %>
