<%
   reruns ||= @reruns
   limit ||= 4
%>
<ul class="list-unstyled simple_index">
  <%= render partial: 'reruns/simple_row_beta', collection: reruns[0, limit], as: :rerun %>
  <% if reruns.count > limit %>
    <%= render partial: 'reruns/simple_row_beta', collection: reruns[limit, reruns.count], as: :rerun, locals: {hidden: true} %>
    <div class="clearfix">
      <span class="pull-right">
        <%= link_to '#', id: 'expand_simple_index' do -%>
          more<span class="caret"></span>
        <% end -%>
      </span>
    </div>
  <% end %>
</ul>

<% ready_script do -%>
  $(document).on({
  click: function(event){
  event.preventDefault();
  var si = $(this).closest(".simple_index");
  si.find(".row").show();
  $(event.target).hide();
  }
  }, '#expand_simple_index')
<% end -%>
