<% rerun ||= (@rerun || @event) %>
<div class="span3">
  <p>
    <% if rerun %>
      <% if rerun.venue.blank? %>
        TBD
      <% else %>
        <% if rerun.external? %>
          <%= address(rerun.venue.location, :wrapper_tag => :span) %>
        <% else %>
          <% if (not rerun.rsvp?) or (user_signed_in? and current_user.attending_event?(rerun)) %>
            <%= address(rerun.venue.location, :wrapper_tag => :span) %>
          <% else %>
            <%= neighborhood_or_city_n_state(rerun.venue.location, :show_popover_map => false, :wrapper_tag => :span) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </p>
</div>

<div class="span2">
  <% if rerun %>
    <span class="label label-success price_tag"><%= event_price(rerun) %></span>
  <% end %>
</div>
