<%
  images ||= @images
  images_per_row ||= 2
  thumb_size ||= :medium
  lightbox_size ||= :xlarge_orig
  grid_class ||= "col-sm-6"
  default_lightbox_params = {toggle: "lightbox", gallery: "multiimages", parent: '.container'}
%>

<% images.each_slice(images_per_row) do |a_of_i| -%>
  <div class="row">
    <% a_of_i.each do |i| -%>
      <% lightbox_params = default_lightbox_params.merge({title: i.title}) %>
      <% lightbox_params.merge!({footer: "#{link_to('delete', i, confirm: 'Really delete photo?', method: :delete).html_safe}"}) if (user_signed_in? and (current_user == i.user)) %>

      <%= link_to i.i.url(lightbox_size), class: grid_class, data: lightbox_params, title: i.title do -%>
        <%= image_tag(i.i.url(thumb_size), class: "img-responsive") %>
      <% end -%>
    <% end -%>
  </div>
  <br/>
<% end -%>
